<h3>{{t 'cms.users.newUser'}}</h3>

{{#em-form model=controller}}
  {{partial "users/fields"}}
{{/em-form}}

<div class="row">
  {{em-button class="btn" default=(t 'cms.general.button.cancel') on-click="cancel"}}
</div>

{{outlet}}
