<nav class="navbar navbar-default">
  <!--.navbar-fixed-top-->
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand">
        Simple CMS
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="#">
            Home
          </a>
        </li>
        <li>
          <a href="users">
            Users
          </a>
        </li>
        <li>
          <a href="posts">
            Posts
          </a>
        </li>
      </ul>
      <!--//ul.nav.navbar-nav.navbar-right-->
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false">
            Logged user
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="logout">
                Logout
              </a>
            </li>
            <li>
              <a href="profile">
                Profile
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="content">
  {{outlet}}
</div>
